.container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  width: 75%;
}

@media (max-width: 770px) {
  .container {
    width: 100% !important;
    height: auto !important;
  }
}
