@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Pacifico&display=swap");
.container {
  margin: 50px 0;
}
.card {
  margin: 0 2% !important;
}

.h {
  text-align: center;
  font-family: "Chelsea Market", cursive;
}

.outer {
  justify-content: center;
  text-align: center;
}

.banner {
  width: 100vh;
  justify-content: center;
  text-align: center;
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
